{$HOST_NAME} {
    {$TLS_OPTS}
    encode gzip

    header {
        Strict-Transport-Security max-age=31536000;
        X-Content-Type-Options nosniff
        X-Frame-Options DENY
        Referrer-Policy no-referrer-when-downgrade
    }

    handle /agent-assets/* {
        reverse_proxy http://agent-server
    }

    handle /api/* {
        header Content-Security-Policy "default-src 'none'"
        reverse_proxy http://phatcrack-api:3000
    }

    handle {
        header Content-Security-Policy "default-src 'self'; object-src 'none'; script-src 'self' 'unsafe-eval'; img-src 'self' data:; style-src 'self' data: 'unsafe-inline'"
        root * /srv
        try_files {path} /index.html
        file_server
    }
}

# Linkwarden bookmark manager
links.lan {
    {$TLS_OPTS}
    reverse_proxy linkwarden:3000
}

# AdGuard Home DNS dashboard
adguard.lan {
    {$TLS_OPTS}
    reverse_proxy adguardhome:81
}

# WireGuard Easy Web UI Management Console
vpn.lan {
    {$TLS_OPTS}
    reverse_proxy host.docker.internal:51821
}

# OneDev Git Platform
git.lan {
    {$TLS_OPTS}
    request_body {
        max_size 512MiB
    }
    reverse_proxy onedev:6610 {
        header_up Host {upstream_hostport}
        header_up X-Forwarded-Host {host}
    }
}

# Calibre Web digital library
books.lan {
    {$TLS_OPTS}
    reverse_proxy calibre-web:8083
}

# Home Assistant Smart Home Hub
home.lan {
    {$TLS_OPTS}
    reverse_proxy host.docker.internal:8123
}

# Pingvin Share (File sharing)
share.lan {
    {$TLS_OPTS}
    reverse_proxy pingvin-share:3000
}

# MeTube Video Downloader
metube.lan {
    {$TLS_OPTS}
    reverse_proxy metube:8081
}

# IT-Tools 
tools.lan {
    {$TLS_OPTS}
    reverse_proxy it-tools:80
}